h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
}

img {
  width: 450px;
  height: auto;
}

.splash-container .splash-left h4 {
  margin: 1rem 0 6rem 0;
}

.splash-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  padding: 2em;
}

.splash-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.splash-left-headers {
  display: flex;
  flex-direction: column;
}

.splash-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%
}

@media screen and (max-width: 800px) {
  .splash-container {
    justify-content: flex-end;
    gap: 0;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .splash-right {
    height: auto;
  }
  .splash-left-headers {
    flex-grow: 1;
  }
  img {
    height: auto;
    width: 100%;
  }
}