.App {
  background-color: #EEEEEE;
}

button {
  font-size: 1.25rem;
  color: white;
  background-color: #0A84FF;
  border-radius: 5px;
  border-style: none;
  padding: 0.75rem 1rem 0.75rem 1rem;
  cursor: pointer;
}

.icon {
  cursor: pointer;
  transform: scale(2.0);
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.5s;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.animate.bounce {
  animation-fill-mode: backwards;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.17,1.23,.6,1.84);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.animate.bounce.left {
  animation-name: bounce-left;
}

.animate.bounce.right {
  animation-name: bounce-right;
}

@keyframes bounce-right {
  0% {
    transform: translate(0) scale(2.0);
  }
  100% {
    transform: translate(0.8rem) scale(2.0);
  }
}

@keyframes bounce-left {
  0% {
    transform: translate(0) scale(2.0);
  }
  100% {
    transform: translate(-0.8rem) scale(2.0);
  }
}