.App {
  background-color: #EEEEEE;
}

button {
  font-size: 1.25rem;
  color: white;
  background-color: #0A84FF;
  border-radius: 5px;
  border-style: none;
  padding: 0.75rem 1rem 0.75rem 1rem;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
