.App {
  background-color: #EEEEEE;
}

button {
  font-size: 1.25rem;
  color: white;
  background-color: #0A84FF;
  border-radius: 5px;
  border-style: none;
  padding: 0.75rem 1rem 0.75rem 1rem;
  cursor: pointer;
}

.icon {
  cursor: pointer;
  transform: scale(2.0)
}